.bg-dark-grey {
    background-color: #2E2E2E; 
    color: #ffffff;
}
.bg-blue-grey-node {
    background-color: #546e7a; 
    color: #ffffff;
}
.bg-grey-node {
    background-color: #757575; 
    color: #ffffff;
}
.bg-red-temp {
    background-color: #c62828; 
    color: #ffffff;
}
.bg-green-temp {
    background-color: #43a047; 
    color: #ffffff;
}
.bg-blue-temp {
    background-color: #0288d1; 
    color: #ffffff;
}
.bg-orange-temp {
    background-color: #f57c00; 
    color: #ffffff;
}

.row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
.col-height {
    display: table-cell;
    float: none;
    height: 100%;
}

.node-desc {
    font-size: 1.3em;
    padding-top:0px;
}

.node-ip-addr {
    font-size: 0.8em;
    padding-top:0px;
}

.node-arch {
    font-size: 0.8em;
    padding-top:0px;
}

.node-temp {
    font-size: 2em;
    padding-top: 30px;
}